{% extends "base.html" %}

{% block event_action %}
<strong>Generated Event:</strong> {{ event }} ({{ action }})
{% endblock %}

{% block content %}
<p>(FCC – ISS/Teresina – Auditor Fiscal - 2016) Os notebooks
ultrafinos (ultrabooks) utilizam drives do tipo SSD (Solid-State Drive) ao
invés de HDs por serem normalmente mais silenciosos, menores, mais
resistentes e de acesso mais rápido. Assim como os pen drives, os
dispositivos SSD utilizam </p>
<form method="post" action="{{ url_for('quiz_submit') }}">
    <div class="form-check">
        <div>
            <label class="form-check-label">
            <input class="form-check-input" name="test-question" type="radio" id="choice1" value="1">(A) memória flash para armazenar dados. Esse tipo de memória não
perde seu conteúdo quando a alimentação elétrica é cortada.

            </label>
        </div>
        <div>
            <label class="form-check-label">
            <input class="form-check-input" name="test-question" type="radio" id="choice2" value="2">(B) memória flash para armazenar dados. Esse tipo de memória perde
seu conteúdo quando a alimentação elétrica é cortada.
            </label>
        </div>
        <div>
            <label class="form-check-label">
            <input class="form-check-input" name="test-question" type="radio" id="choice3" value="3">(C) registradores para armazenar informações. Os registradores são
tipos de memória de acesso muito rápido, porém muito caros.
            </label>
        </div>
        <div>
            <label class="form-check-label">
            <input class="form-check-input" name="test-question" type="radio" id="choice4" value="4">(D) memória cache para armazenar dados. Esse tipo de memória é
acessada duas vezes mais rápido do que as memórias RAM convencionais.
            </label>
        </div>
    </div>
    <button class="btn btn-default" type="submit">Submit</button>
</form>
<!-- The result of quiz -->
{% if answer %}
<div style="height:10px;"></div>
<div class="card">
    <div class="card-body">
        {% if answer == 1 %}
        <strong>Resposta Correta!</strong>
        {% else %}
        <strong>Resposta Incorreta!</strong> A resposta correta é 'memória flash para armazenar dados. Esse tipo de memória não
perde seu conteúdo quando a alimentação elétrica é cortada. '.
        {% endif %}
    </div>
</div><div class="card">
    <div class="card-body">
print(y)

    </div>
</div>
{% endif %}
{% endblock %}

{% block data %}
{{ event_data }}
{% endblock %}