{% extends "base.html" %}

{% block event_action %}
<strong>Generated Event:</strong> {{ event }} ({{ action }})
{% endblock %}

{% block content %}



<!-- Form for tagging -->
<form class="form-inline" method="post" action="{{ url_for('tag_page') }}">
    <div class="form-group col-6" style="padding-left:0px;">
        <input type="text" class="form-control" id="tag-input" name="tags" placeholder="Input your tag(Split with comma)" style="width:100%;">
    </div>
    &nbsp;
    <button class="btn btn-default" type="submit">Add tag</button>
</form>
<!-- Display tags an user typed -->
{% if tags %}
<div style="height:10px;"></div>
<div class="card">
    <div class="card-body">
        <strong>Tags:</strong> {{ tags }}
    </div>
</div>
{% endif %}
{% endblock %}

{% block data %}
{{ event_data }}
{% endblock %}